.weather {
  &__title {
  }

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  &__city {
    font-size: 48px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    gap: 10px;
  }

  &__icon {
  }

  &__status {
    font-size: 24px;
  }

  &__temp {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 24px;
    gap: 10px;
  }
  &__real {
    font-size: 48px;
  }

  &__feels-like {
  }

  &__wind {
  }

  &__loading {
    margin: 0 auto;
    padding: 10px 0;
  }
}

@media (max-width: 550px) {
  .weather {
    &__container {
    }

    &__title {
    }

    &__block {
      flex-direction: column;
    }

    &__city {
      font-size: 36px;
    }

    &__info {
      gap: 0;
    }

    &__icon {
    }

    &__status {
    }

    &__temp {
    }

    &__real {
    }

    &__feels-like {
    }

    &__wind {
    }

    &__loading {
    }
  }
}
